<!DOCTYPE html>
<html>
<head>
  <title>Members</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<p align="center" style="width:100%">
	<%= image_tag("logo.png", :size => "250x210", :alt => "アイコン") %>
</p>
<%= yield %>
<p>
<%= link_to "一般トップページへ戻る", members_path %>
</p>
</body>
</html>
