<!DOCTYPE html>
<html>
<head>
  <title>Members</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag("logo.png", :size => "250x210", :alt => "アイコン") %>
<%= yield %>
<%= link_to "home", members_path %>

</body>
</html>
