<h1>新規登録</h1>

<!-- エラーがあったら表示する -->
<% if @member.errors.any? %>
	<%= @member.errors.messages[:name][0] %>
<% end %>


<%= form_for @member do |f| %>
	<%= f.label :名前 %>	

	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>


<%= link_to '戻る', members_path %>
