<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Good:</strong>
  <%= @member.good %>
</p>

<p>
  <strong>Nomal:</strong>
  <%= @member.nomal %>
</p>

<p>
  <strong>Bad:</strong>
  <%= @member.bad %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
