<p id="notice"><%= notice %></p>

<hr>
<p align="center" style="width:100%">
	<strong>名前:</strong>
	<%= @member.name %>
</p>
<hr>

<p align="center" style="width:100%" >
	<strong>優良:</strong>
	<%= @member.good %>
		<%= link_to '【追加】', :controller => "members", :action => "addGood" %>
		<%= link_to '【減少】', :controller => "members", :action => "delGood" %>
</p>

<p align="center" style="width:100%" >
	<strong>普通:</strong>
	<%= @member.nomal %>
		<%= link_to '【追加】', :controller => "members", :action => "addNomal" %>
		<%= link_to '【減少】', :controller => "members", :action => "delNomal" %>
</p>

<p align="center" style="width:100%" >
	<strong>悪い:</strong>
	<%= @member.bad %>
		<%= link_to '【追加】', :controller => "members", :action => "addBad"  %>
		<%= link_to '【減少】', :controller => "members", :action => "delBad"  %>
</p>
<hr>

